.row, .row>.col
{
    padding-top: .75rem;
    padding-bottom: .75rem;
    /* border: 1px solid rgba(39, 41, 43, 0.1); */
}
.row>[class^="col-"]{
    padding-top: .75rem;
    padding-bottom: .75rem;
    /* border: 1px solid rgba(39, 41, 43, 0.1); */
} 

/*COPIA*/
* {
  margin: 0;
  padding: 0;
  font-family: "Istok Web", sans-serif;
}

body, .input-group>.btn-outline-secondary{
  background: #c4c3c3;
}
.page-item .page-link {
  background: #842bbe;
}

.list-group-item {
  padding-left: 4rem;
  background: #c4c3c3;
}

.card {
  position: relative;
  width: 220px;
  height: 380px;
  background: #191919;
  border-radius: 20px;
  overflow: hidden;
}

.card::before {
  content: "";
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background: #ffce00;
  transform: skewY(345deg);
  transition: 0.5s;
}

.card:hover::before {
  top: -70%;
  transform: skewY(390deg);
}

.card::after {
  content: "BUY";
  position: absolute;
  bottom: 0;
  left: -.75rem;
  font-weight: 600;
  font-size: 7em;
  color: rgba(0, 0, 0, 0.2);
}

.filtro{
  background: #191919;
}

.card .imgBox {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  z-index: 1;
}

.card .contentBox {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.card .contentBox h3 {
  font-size: 18px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.card .contentBox .price {
  font-size: 24px;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
}

.card .contentBox .buy {
  position: relative;
  top: 100px;
  opacity: 0;
  padding: 10px 30px;
  margin-top: 0px;
  color: #000000;
  text-decoration: none;
  background: #842bbe;
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
}

.card:hover .contentBox .buy {
  top: 0;
  opacity: 1;
}

.mouse, .key, .stand, .PokemonXD, .MegamanX8, .HaloInfinite {
  height: 200px;
  width: auto;
}

/*Bryan*/
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
 
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}
/* Columnas */
.columna-izquierda {
  width: 65%;
  position: relative;
}
 
.columna-derecha {
  width: 35%;
  margin-top: 60px;
}
/* columna-izquierda AQUI CAMBIAMOS TAMAÑO DE IMAGENEES*/
.columna-izquierda img {
  width: 75%; 
  margin-left: 10%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.3s ease;

}
 
.columna-izquierda img.active {
  opacity: 1;
}

/* Producto Descripcion */
.producto-descripcion {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}
.producto-descripcion span {
  font-size: 12px;
  color: #358ED7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.producto-descripcion h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484D;
  letter-spacing: -2px;
}
.producto-descripcion p {
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
}

.producto-color {
  margin-bottom: 30px;
}

.color-choose div {
  display: inline-block;
}
  
.color-choose input[type=&amp;quot;radio&amp;quot;] {
  display: none;
}
 
.color-choose input[type=&amp;quot;radio&amp;quot;] + label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
}
 
.color-choose input[type=&amp;quot;radio&amp;quot;] + label span {
  border: 2px solid #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
}
 
.color-choose input[type=&amp;quot;radio&amp;quot;]#red + label span {
  background-color: #C91524;
}
.color-choose input[type=&amp;quot;radio&amp;quot;]#blue + label span {
  background-color: #314780;
}
.color-choose input[type=&amp;quot;radio&amp;quot;]#black + label span {
  background-color: #323232;
}
 
.color-choose input[type=&amp;quot;radio&amp;quot;]:checked + label span {
  background-image: url(images/check-icn.svg);
  background-repeat: no-repeat;
  background-position: center;
} 

.tipo-escoger {
  margin-bottom: 20px;
}
 
.tipo-escoger button {
  border: 2px solid #E1E8EE;
  border-radius: 6px;
  padding: 13px 20px;
  font-size: 14px;
  color: #ffffff;
  background-color: #842bbe;
  cursor: pointer;
  transition: all .5s;
}
 
.tipo-escoger button:hover,
.tipo-escoger button:active,
.tipo-escoger button:focus {
  border: 2px solid #86939E;
  outline: none;
}
 
.tipo-config {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}
 
.tipo-config a {
  color: #358ED7;
  text-decoration: none;
  font-size: 12px;
  position: relative;
  margin: 10px 0;
  display: inline-block;
}
.tipo-config a:before {
  content: &amp;quot;?&amp;quot;;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid rgba(53, 142, 215, 0.5);
  display: inline-block;
  text-align: center;
  line-height: 16px;
  opacity: 0.5;
  margin-right: 5px;
}

/* Producto Precio */
.producto-precio {
  display: flex;
  align-items: center;
}
 
.producto-precio span {
  font-size: 26px;
  font-weight: 300;
  color: #43474D;
  margin-right: 20px;
}
 
.carrt-btn {
  display: inline-block;
  background-color: blue;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
}
.carrt-btn:hover {
  background-color: #64af3d;
}
/* Responsivo */
@media (max-width: 940px) {
  .container {
    flex-direction: column;
    margin-top: 60px;
  }
 
  .columna-izquierda,
  .columna-derecha {
    width: 100%;
  }
 
  .columna-izquierda img {
    width: 300px;
    right: 0;
    top: -65px;
    left: initial;
  }
}
 
@media (max-width: 535px) {
  .columna-izquierda img {
    width: 220px;
    top: -85px;
  }
}